* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #01295E;
}

img {
    width: 100%;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-align: center;
    margin: 37px 42px;
}

p{
    font-weight: 700;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-align: justify;
    margin: 37px 65px;
}

input {
    display: block;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    width: 386px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    
}

form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 20px;
    width: 446px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1s;
}

textarea {
    display: block;
    background: #F9F9F9;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    width: 386px;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
}

button {
    width: 187px;
    height: 52px;
    background: #40BB15;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

.voltar {
    background: gray;
}

div {
    transition: opacity 1s;
}